{% extends 'admin/base.html.twig' %}

{% block title %}EDITION D'UN UTILISATEUR{% endblock %}

{% block body %}

<div class="container col-6 mt-5 mb-4 alert alert-light rounded-lg">
    <h1 class="mt-2 text-center">MODIFIER UN UTILISATEUR</h1>

    <div class="text-center mt-3 mb-4">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>  

    {{form_start(form)}}
    
    <div class="row">
        <div class="col-3"> 
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-3"> 
            {{ form_row(form.lastname) }}
        </div>
        <div class="col-6">  
            {{ form_row(form.email) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-1 text-center m-auto">
            <img src="{{user.picture}}" alt="Avatar de {{user.firstname}} {{user.lastname}}" class="avatar avatar-header"/>
        </div>
        <div class="col-md-11">
            {{ form_row(form.picture) }}
        </div>
    </div>
    <div>
        {{ form_row(form.introduction) }}
    </div>
    <div> 
        {{ form_row(form.description) }}
    </div>
    <div> 
        {{ form_row(form.userRoles) }}
        {{form_row(form.status)}}
    </div>
    <div class="mt-3">  
        {{ form_row(form.submit) }}
    </div>
       
 
    {{ form_end(form) }}

</div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}